@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

* {
   text-align: center;
   font-family: "Poppins", sans-serif;
}

body {
   background-color: rgb(27, 27, 27);
}

h1,
p {
   color: white;
}

h1 > span {
   color: magenta;
}

h1 {
   font-size: 50px;
}

a {
   color: rgb(127, 24, 223);
   text-decoration: none;
}

a:hover {
   color: magenta;
   text-decoration: none;
}


